matplotlib==3.7.1
numpy==1.25.0
scipy==1.11.0
ta-lib==0.4.26
pandas==2.0.2
bravado
websocket-client==0.52.0
hyperopt
pyti
google-api-python-client
oauth2client
discord-webhook==1.1.0
pybit==2.4.1
ciso8601
pycryptodome
influxdb-client[ciso]